body {
    font-family: Arial, sans-serif;
    background-color: #f8f8ff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    margin-bottom: 40px;
    color: #5c513f;
}

button {
    background-color: #5c513f;
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}

#fact {
    font-size: 1.4em;
    margin-top: 40px;
    text-align: center;
}
